<!DOCTYPE html>

<html>
    <head>
        <meta name="viewpoit" content="width=device-width"/>
        <link rel="stylesheet/less" type="text/css" href="~/css/Style.less">
        <script src="https://cdn.jsdelivr.net/npm/less" type="text/javascript"></script>
        <title>@ViewBag.Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>  
    <body>
        <div class="header">
            <img src="~/img/icon.png"/>
            <input class="search" id="search" placeholder="Поиск по сайту"/>
            <button onclick="UpdateUrl()">Поиск</button>
            <script>
                function UpdateUrl() {
                    var search = document.getElementById('search').value;
                    var currentLocation = window.location;
                    var flag = currentLocation.toString().toLowerCase().includes("items");
                    window.location = `/${flag ? "Items" : "Categorys"}/List?search=` + search;
                }
            </script>
            <img class="basket" src="~/img/ic-basket.png"/>
        <a id="dynamicLink" href="@Url.Action("BasketList", "Items")">Корзина</a>

        <script>
            $(document).ready(function () {
                var currentUrl = window.location.href;
                if (currentUrl.includes("BasketList")) {
                    $("#dynamicLink").attr("href", "@Url.Action("List", "Items")");
                    $("#dynamicLink").text("Назад");
                }
            });
        </script>

            <div id="CountItems" class="ItemsCount">0</div>
            <script>
                $(document).ready(function () {
                    updateBasketCount();
                });
                function updateBasketCount() {
                    $.ajax({
                        url: '/Items/BasketCount',
                        type: 'GET',
                        success: function (data) {
                            $('#CountItems').text(data.itemsCount);
                        }
                    });
                }
                function SuccessBasket(data) {
                    console.log(data);
                    updateBasketCount();
                }
            </script>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>