<!DOCTYPE html>

<html>
    <head>
        <meta name="viewpoit" content="width=device-width"/>
        <link rel="stylesheet/less" type="text/css" href="~/css/Style.less">
        <script src="https://cdn.jsdelivr.net/npm/less" type="text/javascript"></script>
        <title>@ViewBag.Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>  
    <body>
        <div class="header">
            <img src="~/img/icon.png"/>
            <input class="search" id="search" placeholder="Поиск по сайту"/>
            <button onclick="UpdateUrl()">Поиск</button>
            <script>
                function UpdateUrl() {
                    var search = document.getElementById('search').value;
                    var currentLocation = window.location;
                    var flag = currentLocation.toString().toLowerCase().includes("items");
                    window.location = `/${flag ? "Items" : "Categorys"}/List?search=` + search;
                }
            </script>
            <img class="basket" src="~/img/ic-basket.png"/>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>